
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 8px 100%;
    pointer-events: none;
}

.lab-report {
    max-width: 40%;
    margin-left: 4%;
}

.center {
    text-align: center;
}

body {    
    margin: 0 !important;
    padding: 0 !important;
}

.type {
    font-family: 'Raleway';
    color:#0000;
    background:
      linear-gradient(-90deg,#00DFFC 5px,#0000 0) 10px 0,
      linear-gradient(#00DFFC 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    -webkit-background-clip:padding-box,text;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    animation: 
      b .7s infinite steps(1),   
      t calc(var(--n)*.03s) steps(var(--n)) forwards;
  }
@keyframes t{
    from {background-size:0 200%}
}
@keyframes b{
    50% {background-position:0 -100%,0 0}
}
 
.annotated-bib {
    line-height: 2;
}

#terminal {
    font-family: 'Raleway';
    width:       99%; 
    height:      100%;

    margin-left: 1%;

    margin-bottom: 4%;
}

.title {
    font-family: 'Raleway';
    text-align: center;
}

#terminal .input {
    min-width:      5em;
    outline-color:  transparent;
    border:         none;
    display:        inline-block;
}

#terminal p {
    margin:     0;
    padding:    0;
}

.terminal-body {
    background: rgb(18, 18, 36);
    color:      white;
    
    width:  100%;
    height: 100%;
    
    padding: 0;
    margin-left: 4%;
    
    box-sizing: border-box;        
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar-item {
    float: left;
}

.navbar-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Raleway';
}

.navbar-item a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #0880cf;
}

